{% load static vite compress ds_utils %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% vite %}
    {% vite 'c3ds/static/css/base.scss' %}
    <title>{% block title %}c3ds - backdoor{% block title-extra %}{% endblock %}{% endblock %}</title>
</head>
<body {% block body_extra %}{% endblock %}data-display-slug="{{ slug }}">
{% load ds_utils vite %}
{% block body %}
    <div id="logContainer"></div>
    {% vite 'core/ts/backdoor.ts' %}
{% endblock %}
</body>
</html>