@tailwind base;
@tailwind components;
@tailwind utilities;

.cornerblob {
  @apply bg-background;
  background-image: url('@/c3ds/static/38c3/images/blobs/corner-blob-1-filled.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: auto 85%;
}

.headerblob {
  @apply bg-background;
  background-image: url('@/c3ds/static/38c3/images/blobs/blob-collision-rect-11-rot-trans75.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 100%;
  //background-blend-mode: lighten;
}

body {
  height: 100vh; // we can't use 100dvh, because cch uses chrome 70 -_-

  &.layout-normal {
    @apply p-2;
  }
  &.layout-cover {
    @apply p-2
  }
  &.layout-fullscreen {

  }
}

.talk {
  margin-bottom: 0.5rem;
}
