@font-face {
    font-family: 'KarioDuplexVar';
    src: url('./Kario39C3Var-Roman.ttf') format('truetype');
    src: url('./Kario39C3VarWEB-Roman.woff') format('woff');
    src: url('./Kario39C3VarWEB-Roman.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    src: url('./OfficerSansCondWeb-Regular.woff') format('woff');
    src: url('./OfficerSansCondWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    font-weight: bold;
    font-style: italic;
    src: url('./OfficerSansCondWeb-BoldItalic.woff') format('woff');
    src: url('./OfficerSansCondWeb-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    font-weight: bold;
    src: url('./OfficerSansCondWeb-Bold.woff') format('woff');
    src: url('./OfficerSansCondWeb-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSansCond';
    font-style: italic;
    src: url('./OfficerSansCondWeb-RegularItalic.woff') format('woff');
    src: url('./OfficerSansCondWeb-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    src: url('./OfficerSansWeb-Regular.woff') format('woff');
    src: url('./OfficerSansWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    font-weight: bold;
    font-style: italic;
    src: url('./OfficerSansWeb-BoldItalic.woff') format('woff');
    src: url('./OfficerSansWeb-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    font-weight: bold;
    src: url('./OfficerSansWeb-Bold.woff') format('woff');
    src: url('./OfficerSansWeb-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'OfficerSans';
    font-style: italic;
    src: url('./OfficerSansWeb-RegularItalic.woff') format('woff');
    src: url('./OfficerSansWeb-RegularItalic.woff2') format('woff2');
}